## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## JetBrains Rider
.idea/

## Visual Studio
.vs/
*.rsuser
*.csproj.user

## OS files
.DS_Store
Thumbs.db
